<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h4 class="display-4">Grading area</h4>
    <p class="lead"><%= @grade_record.rubric.assignment %>.</p>
  </div>
</div>

<%= simple_form_for @grade_record, validate: true do |form| %>
  <%= form.input :rubric_id, as: :hidden, value: @grade_record.rubric_id %>
  <%= form.input :grade_type, as: :hidden, value: @grade_record.grade_type %>
  <span><%= @grade_record.rubric.description %></span>
  <%= form.input :learner_email, as: 'email' %>
  <%= form.input :mentor_email, :as => :hidden, :input_html => { :value => current_mentor.email } %>
  <table class="table table-stripped table-hover table-bordered">
    <thead>
    <tr>
      <th>#</th>
      <th>Criteria</th>
      <th>Meet the specification</th>
      <th>Weight</th>
      <th>Mandatory</th>
      <th>(Point/Pass_Fail)</th>
      <th>Comment</th>
    </tr>
    </thead>
    <tbody>
    <%= form.simple_fields_for :grade_crites do |criteria_form| %>
      <tr>
        <th><%= criteria_form.object.index %></th>
        <%= criteria_form.input :index, as: :hidden, value: criteria_form.object.index %>
        <td><p><%= criteria_form.object.criteria_description %></p></td>
        <%= criteria_form.input :criteria_description, as: :hidden, value: criteria_form.object.criteria_description %>

        <%= criteria_form.input :outcome, as: :hidden, value: criteria_form.object.outcome %>

        <td><pre><%= criteria_form.object.meet_the_specification %></pre></td>
        <%= criteria_form.input :meet_the_specification, as: :hidden, value: criteria_form.object.meet_the_specification %>
        <td><p><%= criteria_form.object.weight %></p></td>
        <%= criteria_form.input :weight, as: :hidden, value: criteria_form.object.weight %>
        <td><p><%= criteria_form.object.mandatory %></p></td>
        <%= criteria_form.input :mandatory, as: :hidden, value: criteria_form.object.mandatory %>
        <%= criteria_form.input :criteria_type, as: :hidden, value: criteria_form.object.criteria_type %>
        <% if criteria_form.object.criteria_type == Constants::CRITERIA_TYPE_PASS_FAIL %>
          <td><%= criteria_form.input :status, validate: {presence: true} %></td>
        <% else %>
          <td><%= criteria_form.input :point, collection: 0...(Constants::CRITERIA_MAX_POINT + 1), validate: {presence: true} %></td>
        <% end %>
        <td><%= criteria_form.input :comment, as: :text, input_html: {rows: 3} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= form.input :comment, as: :text %>
  <%= form.button :submit, "Submit grade!", class: 'btn-block' %>
<% end %>